<template>
  <div>
    <div class="container-fluid" v-if="show" id="loader">
      <div class="row h-100vh align-content-between">
        <div class="col-sm-12 position-relative">
          <div class="circle"></div>
        </div>
        <div class="col-sm-12">
          <div class="text-heading">
            Test <br />
            Mobile <br />
            Index
          </div>
        </div>
      </div>
    </div>
    <main class="w-100">
      <div class="top-bar">Login</div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 header">
            <h1 class="heading">
              Deine Job <br />
              website
            </h1>
          </div>
          <div class="col-12 main-conent text-center">
            <div class="inline-flex btn-group custom">
              <button
                @click="showTab('first')"
                class="py-2 px-4 rounded-l bg-white-100"
                v-bind:class="{ active: first }"
              >
                Arbeitnehmer
              </button>
              <button
                @click="showTab('second')"
                class="py-2 px-4 bg-white-100"
                v-bind:class="{ active: second }"
              >
                Arbeitgeber
              </button>
              <button
                @click="showTab('third')"
                class="py-2 px-4 rounded-r bg-white-100"
                v-bind:class="{ active: third }"
              >
                Temporärbüro
              </button>
            </div>
            <div v-if="first" class="tabs">
              <div class="tabs-heading">
                Drei einfache Schritte <br />
                zu deinem neuen Job
              </div>
              <div class="first-image">
                <img
                  src="~/assets/img/undraw_Profile_data_re_v81r.svg"
                  alt="first"
                  class="first"
                />
                <div class="text">
                  <span> 1. </span>
                  <p>Erstellen dein Lebenslauf</p>
                </div>
              </div>
              <div class="second-image">
                <div class="text">
                  <span> 2. </span>
                  <p>Erstellen dein Lebenslauf</p>
                </div>
                <img
                  src="~/assets/img/undraw_task_31wc.svg"
                  alt="first"
                  class="first"
                />
              </div>
              <div class="third-image">
                <div class="text">
                  <span> 3. </span>
                  <p>
                    Mit nur einem Klick
                    <br />
                    bewerben
                  </p>
                </div>
                <img
                  src="~/assets/img/undraw_personal_file_222m.svg"
                  alt="first"
                  class="first"
                />
              </div>
            </div>
            <div v-else-if="second" class="tabs">
              <div class="tabs-heading">
                Drei einfache Schritte <br />
                zu deinem neuen Mitarbeiter
              </div>
              <div class="first-image">
                <img
                  src="~/assets/img/undraw_Profile_data_re_v81r.svg"
                  alt="first"
                  class="first"
                />
                <div class="text">
                  <span> 1. </span>
                  <p class="text-left">
                    Erstellen dein <br />
                    unternehmensprofil
                  </p>
                </div>
              </div>
              <div class="second-image">
                <div class="text">
                  <span> 2. </span>
                  <p>Erstellen eidn Jobinserat</p>
                </div>
                <img
                  src="~/assets/img/undraw_about_me_wa29.svg"
                  alt="first"
                  class="first"
                  style="width: 75%"
                />
              </div>
              <div class="third-image text-center">
                <div class="text">
                  <span> 3. </span>
                  <p>
                    Wähle deinen <br />
                    neuen Mitarbeiter aus
                  </p>
                </div>
                <img
                  src="~/assets/img/undraw_swipe_profiles1_i6mr.svg"
                  alt="first"
                  class="first"
                />
              </div>
            </div>
            <div v-else-if="third" class="tabs">
              <div class="tabs-heading">
                Drei einfache Schritte zur <br />
                Vermittlung neuer Mitarbeiter
              </div>
              <div class="first-image">
                <img
                  src="~/assets/img/undraw_Profile_data_re_v81r.svg"
                  alt="first"
                  class="first"
                />
                <div class="text">
                  <span> 1. </span>
                  <p>Erstellen dein Lebenslauf</p>
                </div>
              </div>
              <div class="second-image">
                <div class="text">
                  <span> 2. </span>
                  <p>
                    Erhalte Vermittlungs- <br />
                    angebot von Arbeitgeber
                  </p>
                </div>
                <img
                  src="~/assets/img/undraw_job_offers_kw5d.svg"
                  alt="first"
                  class="first"
                />
              </div>
              <div class="third-image text-center">
                <div class="text">
                  <span> 3. </span>
                  <p>
                    Vermittlung nach <br />
                    Provision oder <br />
                    Stundenlohn
                  </p>
                </div>
                <img
                  src="~/assets/img/undraw_business_deal_cpi9.svg"
                  alt="first"
                  class="first"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-bar">
        <button class="btn custom-btn">Kostenlos Registrieren</button>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      show: true,
      first: true,
      second: false,
      third: false,
    }
  },
  created() {
    setTimeout(() => {
      this.$data.show = false
    }, 20)
  },
  methods: {
    showTab(display: string) {
      switch (display) {
        case 'first':
          this.first = true
          this.second = false
          this.third = false
          break
        case 'second':
          this.first = false
          this.second = true
          this.third = false
          break
        case 'third':
          this.first = false
          this.second = false
          this.third = true
          break
      }
    },
  },
})
</script>
